.container {
    height: 50px;
    position: relative;
}

.center-card {
    margin:0;
    position: absolute;
    top:50%;
    color: blue;
}

.bigBluer { 
    text-align: middle;
    color: white;
    padding: 20px;
}

.card-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}